body {
    background-color: rgb(207, 100, 166); 
    color: white;
    font-family: "Old Standard TT", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: rgb(204, 9, 139);
    color: white
    font-family: "Old Standard TT", serif;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}